[submodule "src/zeeguu-react"]
	path = src/zeeguu-react
	url = git@github.com:zeeguu/web.git
[submodule "browser-extension"]
	path = browser-extension
	url = git@github.com:zeeguu/browser-extension.git
